.formInschrijven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 400px;
    height: 400px;
    color: white;
    padding: 30px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px gray;
    background-image: url("/src/assets/cocktail.jpeg");
    text-align: center;
}

label{
    margin: 5px;
    /*padding: 20px;*/
}
h3{
    padding: -20px;
}