.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 400px;
    height: 400px;
    color: white;
    padding: 30px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px gray;
    background-image: url("/src/assets/cocktail.jpeg");
    text-align: center;

}

.formLogin-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}