header {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    width: 100%;
}

buttonBox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

/*H1{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: start;*/
/*    color: navajowhite;*/
/*}*/

.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: xx-large;
    color: navajowhite;
    z-index: 1;
}

#leButton{
    width: 150px;
    margin-top: 50px;
    color: dodgerblue;
    background-color: black;
    height: 30px;
}

.hamburger1{
    display: flex;
    justify-content: end;
}